.header{
    display:flex;
    justify-content: space-between;
    border:1px solid green;
}
.logo {
    width: 200px;
}
.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    margin: 10px;
    padding: 10;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-container-link{
    text-decoration: none;
}

.res-card {
    margin:5px;
    width: 200px;     
    padding:5px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 5px;
}

.search:hover {
    background-color: aquamarine;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    background-color: #008CBA;
}

.filter-btn:hover {
    background-color: #04AA6D;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    background-color: #f0f0f0;
    height:400px;
    width:200px;
}

.login {
    cursor: pointer;
    background-color: #f0f0f0;    
}

.login:hover {
    background-color: aqua;
}

.serach_box {
    margin: 5px;
}

.user-card {
    padding: 10px;
    border:1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.user-card > figure {
    margin: 0;
}

.user-card > address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-style:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-card:hover {
    background-color: gainsboro;
}

.menu-img {
    height: 30%;
    width: 30%;    
}

.menu-img:hover{
    border: 1px solid grey;
}

.rest-menucard > li {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    gap:16px;
}

.rest-menucard-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rest-menucard-details-info {
    color : rgba(40,44,63,.45);
}
